/* Dashboard sidebar *Start* */
.dashboard-sidebar {
	position: sticky;
	top: 0;
	left: 0;

	max-width: 280px;
	height: 100vh;

	display: grid;
	grid-template-rows: auto 1fr auto;

	border-radius: 0px 24px 24px 0px;
	background: #29313D;
}

.dashboard-sidebar__header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.logo {}

.dashboard-sidebar__content {
	margin: 24px;
}

.dashboard-nav {
	display: grid;
	grid-template-columns: 1fr;
	gap: 6px;
}

.dashboard-nav__item {
	padding: 13px 0px 13px 0px;

	display: flex;
	align-items: center;

	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.dashboard-nav__item.disabled {
	border-top: 1px solid rgba(255, 255, 255, 0.03);
	opacity: 0.5;

	cursor: not-allowed;
}

.dashboard-nav__icon {
	margin-right: 14px;

	transition: linear .2s;
}

.dashboard-nav__title {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	transition: linear .2s;
}

.dashboard-nav__item.selected svg, .dashboard-nav__item.selected path {
	stroke: #F8D239;
	color: #F8D239;
}

.dashboard-nav__item.selected .dashboard-nav__title {
	background: var(--binance-color, linear-gradient(90deg, #F8D239 0%, #F0B90B 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dashboard-sidebar__footer {
	padding: 16px 24px 24px 24px;

	border-top: 1px solid rgba(255, 255, 255, 0.03);
}

/* Dashboard sidebar *Stop* */

/* Status *Start* */

.status {}

.status__title {
	margin-bottom: 6px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.status__value {
	color: #FFF;
	text-align: center;
	font-family: "IBM Plex Sans";
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

/* Status *Stop* */

@media (max-width: 600px) {
	.dashboard-sidebar {
		position: fixed;

		top: unset;
		bottom: 0;
		left: 50%;

		max-width: 100%;
		width: fit-content;
		height: auto;

		border-radius: 24px 24px 0px 0px;

		transform: translateX(-50%);
		z-index: 5;

		overflow: hidden;
	}

	.dashboard-sidebar__header {
		display: none;
	}

	.dashboard-sidebar__content {
		margin: 15px 12px;
	}

	.dashboard-sidebar .dashboard-nav {
		display: flex;
	}
	.dashboard-nav__title {
		font-size: 10px;
		white-space: nowrap;
	}
	.dashboard-sidebar .dashboard-nav__item {
		padding: 0;
		flex-direction: column;
	}
	.dashboard-sidebar .dashboard-nav__item:not(:last-child) {
		margin-right: 18.5px;
	}
	.dashboard-sidebar .dashboard-nav__icon {
		margin-right: 0;
		margin-bottom: 8px;
	}
	.dashboard-sidebar__footer {
		display: none;
	}
	.dashboard-sidebar .dashboard-nav__item.disabled {
		border: none;
	}
}