@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans/IBMPlexSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans/IBMPlexSans-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}