.dashboard-wrapper {
	padding: 24px;

	background-color: #29313d;
	border-radius: 24px;
}
.m-partner {
	display: none;
}
/* Log *Start* */

.log {
	height: 100%;

	display: grid;
	grid-template-rows: 89px 1fr;

	border-radius: 24px;
	background: #29313D;
}

.log__header {
	padding: 24px 0;
	margin: 0 24px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.log-tabs {
	display: flex;
	align-items: center;
}

.log-tabs__item {
	padding: 11px 24px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	cursor: pointer;

	transition: background linear .2s, color linear .2s;
}

.log-tabs__item.selected {
	border-radius: 8px;
	background: linear-gradient(90deg, #F8D239 0%, #F0B90B 100%);

	color: #29313D;
}

.log__content {
	padding: 24px 0;
	margin: 0 24px;

	height: calc(100% - 48px);
}

.log__textarea {
	width: 100%;
	height: 100%;

	background-color: transparent;
	border: none;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	/* 19.6px */

	outline: none;
	resize: none;
}

/* Log *Stop* */

/* Scrollbar *Start* */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(232, 232, 232, 0.05);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	background: #7A7A7A;
	border-radius: 100px;

	cursor: pointer;
	transition: linear .2s;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Scrollbar *Stop* */

/* Info section *Start* */

.info-section {
	border-radius: 24px;
	background: #21272F;
}

.info-section:not(:last-child) {
	margin-bottom: 24px;
}

.info-section__header {
	padding: 24px;

	border-bottom: 1px solid #29313D;
}

.info-section__h2 {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.info-section__content {
	padding: 24px;
}

.info-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 11px;
}

.info-list__item {
	padding: 12px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	background: #29313D;
}

.info-list__h3 {
	margin-bottom: 6px;

	color: #D2D4D7;
	text-align: center;
	font-family: "IBM Plex Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.info-list__p {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/* Info section *Stop* */

/* Server info *Start* */

.server-info-footer {
	display: flex;
	justify-content: space-between;
}

.server-info-footer > div:first-child {
	display: flex;
}

.server-info-footer > div:not(:last-child) {
	margin-right: 24px;
}

.info-data {
	display: flex;
	flex-direction: column;
}
.info-data:not(:last-child) {
	margin-right: 24px;
}

.info-data__title {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.info-data__value {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

/* Server info *Stop* */

/* Dashboard form *Start* */

.dashboard-section {
	padding: 24px;

	border-radius: 24px;
	background: #29313D;
}

.dashboard-section:not(:last-child) {
	margin-bottom: 24px;
}

.dashboard-form {
	padding: 16px 24px;

	display: grid;
	grid-template-rows: auto 1fr auto;

	border-radius: 24px;
	background: #21272F;
}

.dashboard-form__header {}

.dashboard-form__h2 {
	text-align: center;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.dashboard-form__h3 {
	text-align: center;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.dashboard-form__content {}

.input-wrapper {
	display: flex;
	flex-direction: column;
}

.input-wrapper:not(:last-child) {
	margin-bottom: 24px;
}

.label {
	margin-bottom: 8px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.input {
	padding: 20px;

	border-radius: 8px;
	background: transparent;
	border: 1px solid #29313D;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	outline: none;
}

.dashboard-form__footer {
	margin-top: 19px;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

/* Dashboard form *Stop* */

/* Dashboard stats *Start* */

.dashboard-stats {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 24px;
}
.dashboard-stats:not(:last-child) {
	margin-bottom: 24px;
}

.dashboard-stats__item {
	padding: 36px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	background: #29313D;
}

.dashboard-stats__icon {
	margin-bottom: 4px;

	width: 64px;
	height: 64px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 8px;
	background: #21272F;
}

.dashboard-stats__title {
	margin-bottom: 12px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.dashboard-stats__value {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	text-align: center;
	font-size: 52px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.dashboard-stats__value .green-text, .dashboard-stats__value .red-text {
	padding: 0 8px;
}

/* Dashboard stats *Stop* */


.graph {
	position: relative;

	border-radius: 24px;
	background: #29313D;

	display: grid;
	grid-template-columns: 1fr 233px;
}

.graph:not(:last-child) {
	margin-bottom: 24px;
}

.graph-aside {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 0px 24px 24px 0px;
	border: 1px solid #353D49;

	background: #29313D;
}

.graph .recharts-responsive-container {
	margin-top: 72px;

	max-width: 100%;
	max-height: 400px;
	width: 100%!important;
}

.graph-info {
	padding: 0 40px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.graph-info:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.graph-info__title {
	margin-bottom: 8px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.graph-info__value {
	max-width: unset;
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.graph-labels {
	position: absolute;
	top: 17px;
	left: 20px;

	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
}

.graph-label {
	display: flex;
	align-items: center;
}
.graph-label > *:not(:last-child) {
	margin-right: 8px;
}
.graph-label__line {
	height: 2px;
	width: 20px;

	background-color: gray;
	border-radius: 20px;
}
.graph-label__title {
	color: rgba(255, 255, 255, 0.25);
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.graph-label__value {
	color: var(--font-from-binance, #D2D4D7);
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.graph-tooltip {
	display: flex;
	align-items: center;
}
.graph-tooltip__name {
	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.graph-tooltip__value {
	margin-right: 6px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.green-text {
	padding: 5px 18px;

	width: fit-content;

	border-radius: 8px;
	background: #58D299;

	color: #fff;
}
.red-text {
	padding: 5px 18px;

	width: fit-content;

	border-radius: 8px;
	background: #E34957;

	color: #fff;
}

/* Circle button *Start* */

.circle-btn {
	position: relative;

    cursor: pointer;
}
.circle-btn > .sub-menu {
    display: none;

	padding: 10px;
	border-radius: 12px;

	position: absolute;
	top: 100%;
	right: 0;

	background-color: #29313d;

	z-index: 5;
	animation: fadeOut linear .2s;
}
.circle-btn > .sub-menu.opened {
    display: block;
}
.sub-menu > .sub-list {
	display: grid;
	grid-template-columns: 1fr;
}
.sub-list > .sub-list__item {
	padding: 5px 6px;

	color: #D2D4D7;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	border-radius: 2px;

	cursor: pointer;
}
.sub-list > .sub-list__item.selected {
	background-color: gray;
}

@keyframes fadeOut {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Circle button *Stop* */

@media (max-width: 1200px) {
.dashboard-stats {
	grid-template-columns: 1fr;
}
.wallet-page .grid-wrapper {
	grid-template-columns: 1fr;
}
.info-list {
	grid-template-columns: 1fr;
}
}
@media (max-width: 600px) {
    .dashboard-stats {
		grid-template-columns: 1fr;
	}
	.graph {
		grid-template-columns: 1fr;
	}
	.graph-aside {
		padding: 12px;

		max-width: calc(100% - 48px);
		width: fit-content;

		position: absolute;

		bottom: 12px;
		left: 12px;

		display: flex;
		flex-direction: row;

		background-color: #21272F;
		border-radius: 12px;
	}
	.graph-info {
		padding: 0;
	}
	.graph-info:not(:last-child) {
		margin-right: 37px;
	}
	.graph-info__title {
		font-size: 12px;
	}
	.graph-info__value {
		max-width: 105px;
		font-size: 24px;
	}
	.graph .recharts-responsive-container {
		margin: 71px 0 127px 0;
		max-width: 100%;
		width: 100%!important;
		height: fit-content!important;
	}
	.dashboard-stats__item {
		padding: 12px;
		flex-direction: row;
		justify-content: flex-start;
	}
	.dashboard-stats__wrapper {
		display: flex;
		flex-direction: column;
	}
	.dashboard-stats__icon {
		margin-bottom: 0;
		margin-right: 12px;
	}
	.dashboard-stats__title {
		margin-bottom: 4px;

		font-size: 12px;
	}
	.dashboard-stats__value {
		font-size: 24px;
	}
	.dashboard-content {
		margin: 0 12px;
	}
	.grid-wrapper {
		grid-template-columns: 1fr;
	}
	.graph-tooltip__value {
		font-size: 12px;
	}
	.graph-tooltip__name {
		font-size: 13px;
	}
	.info-list {
		grid-template-columns: 1fr;
	}
	.server-info-footer img {
		display: none;
	}
	.dashboard-section {
		padding: 12px;
	}
	.info-section {
		padding: 18px 12px;
		background-color: #29313D;
	}
	.info-section__header {
		padding: 0;
	}
	.info-section__content {
		padding: 0;
	}
	.info-list__item {
		padding: 0;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.info-list__item:not(:last-child) {
		padding-bottom: 18px;
		border-bottom: 1px solid #21272F;
	}
	.info-list__h3 {
		font-size: 12px;
		text-align: left;
	}
	.info-list__p {
		font-size: 18px;
		text-align: left;
	}
	.info-data__title {
		margin: 0;
		text-align: center;
	}
	.server-info-footer {
		padding: 31px 0;
		width: 100%;
		background-color: #29313D;
		justify-content: center;
		border-radius: 24px;
	}
	.server-info-footer > div:not(:last-child) {
		margin-right: 0px;
	}
	.info-page {
		padding: 0;
		background-color: transparent;
	}
	.dashboard-form__h2 {
		font-size: 36px;
		text-align: left;
	}
	.dashboard-form__h3 {
		margin-bottom: 24px;
		font-size: 16px;
		text-align: left;
	}
	.input {
		padding: 13px 20px;
		border-radius: 12px;

		font-size: 16px;
		background-color: #21272F;
	}
	.label {
		font-size: 12px;
	}
	.dashboard-form {
		padding: 18px 12px;
		position: relative;

		background-color: #29313D;
	}
	.dashboard-form .status {
		position: absolute;

		top: 36px;
		right: 12px;
	}
	.wallet-page {
		padding: 0;
		background-color: transparent;
	}
	.dashboard-stats .grid-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	.dashboard-stats__value .green-text, .dashboard-stats__value .red-text {
		padding: 0 8px;
	}
	.m-partner {
		display: block;
		margin: 18px auto;
		width: fit-content;
	}
}