.dashboard {
    width: 100%;

    display: grid;
    grid-template-columns: 280px 1fr;

    background-color: #21272f;
}
.dashboard main {
    width: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
}
.dashboard-content {
    margin: 0 24px;
    padding-bottom: 70px;

    height: calc(100% - 70px);
}

.dashboard-footer {
	margin: 0 24px;
	padding: 26px 0;
}

.copyright {
	color: #D2D4D7;
	text-align: center;
	font-family: "IBM Plex Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	opacity: 0.15;
}

@media (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}